KinveySignInDemo/KinveySignInDemo.xcodeproj/project.xcworkspace/xcuserdata/scarter.xcuserdatad/UserInterfaceState.xcuserstate
KinveySignInDemo/KinveySignInDemo.xcworkspace/xcuserdata/scarter.xcuserdatad/UserInterfaceState.xcuserstate
KinveySignInDemo/Pods/

